@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

* {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #4070f4;
  border-radius: 30px;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./assets/inicio-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #e5f506;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

nav {
  width: 50%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 90%;
}

li {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li:hover {
  color: #4070f4;
}

.arrows {
  width: 60px;
  height: 172px;
  bottom: 20px;
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

/* apresentação */
.content-container {
  height: 100vh;
}

.profile-container {
  height: 100%;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/back2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-content {
  width: 30%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 500px;
  background: rgba(73, 74, 74, 0.4745098039);
  padding: 20px;
  border-radius: 8px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #4070f4;
}

.name-text {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #c1c2c0;
}

.profile-text {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 16px;
  width: 80%;
  margin-top: 5px;
  color: #c1c2c0;
}

.social-media {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.profile-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.profile-button:hover {
  transform: scale(1.2);
}

#facebook {
  background-image: url("assets/facebook.png");
  background-size: cover;
}

#instagram {
  background-image: url("assets/instagram.png");
  background-size: cover;
}

#linkedin {
  background-image: url("assets/linkedin.png");
  background-size: cover;
}

#github {
  background-image: url("assets/github2.png");
  background-size: cover;
}

.divider {
  width: 100%;
  border-top: 0.5px solid #bfbfbf;
  margin-top: 10px;
}

.tecnologies-container {
  display: grid;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.tecnologies-content {
  width: 300px;
  height: 60px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.tecnologies {
  width: 20%;
  height: 100%;
}
.tecnologies img {
  width: 50px;
}

.profile-sinopse {
  width: 430px;
  height: 520px;
  padding: 10px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 17px;
  margin-left: 50px;
  text-align: justify;
  border-radius: 8px;
}

#cv-button {
  width: 100px;
  height: 30px;
  padding: 5px;
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4070f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#cv-button:hover {
  color: #fff;
}

#profile-h1 {
  color: #4070f4;
}

/* projetos  */
.project-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/back3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-description {
  flex-direction: column;
  color: #fff;
  font-size: 17px;
  margin: 10px;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-container span {
  color: #fff;
  margin-left: 390px;
}

.slide-content {
  overflow: hidden;
  margin: 0 40px;
}

.card {
  border-radius: 25px;
  background-color: #a6d9ed;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  row-gap: 5px;
  position: relative;
}

.overlay {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #262b39;
  border-radius: 25px 25px 0 0;
}

.tecnologi {
  background-color: #6e93f7;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.tecnologi img {
  margin-top: 8px;
  width: 40px;
  height: 40px;
}

.card-image {
  position: relative;
  width: 280px;
  height: 158px;
  background-color: #000;
  padding: 3px;
}

.card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #fff;
}

.card-img:hover {
  transition: 1s;
  transform: scale(1.1);
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #6e93f7;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #6e93f7;
  transition: 1s;
  transform: scale(1.1, 1.1);
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #6e93f7;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 1024px) {
  header .nav-menu {
    width: 60%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-left: 20%;
  }
}
@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .card-image {
    width: 220px;
  }
}
/*responsividade*/
@media (max-width: 420px) {
  .hero-container {
    justify-content: space-between;
    padding: 10px 30px;
    text-align: center;
    max-width: 100%;
  }
  .menu {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 40px;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: #4070f4;
    margin: 5px auto;
  }
  .profile-container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .profile-content {
    width: 100%;
    margin-left: 50px;
    margin-top: 15px;
  }
  .profile-card {
    border-radius: 0%;
    width: 88%;
    margin-top: 0;
    margin-left: 3px;
  }
  .profile-sinopse {
    margin: 0;
    width: 93%;
  }
  .project-content {
    display: none;
  }
  form {
    width: 85%;
    height: 80%;
  }
  #input-textarea {
    min-width: 95%;
    max-width: 95%;
    min-height: 170px;
    max-height: 170px;
  }
  #send-button {
    margin-left: 100px;
  }
  nav {
    width: 50%;
    position: static;
    transform: none;
    padding: 18px 20px;
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 90%;
    height: 95%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0%;
    z-index: 2;
  }
  li {
    color: #000;
  }
  .tecnologies {
    width: 23%;
    height: 105%;
  }
  .slider {
    width: 340px;
    height: 200px;
  }
  .projects-img img {
    width: 340px;
    height: 200px;
  }
  .btn-container {
    margin: 20px;
  }
  #btn-back {
    color: #fff;
  }
  #btn-next {
    color: #fff;
  }
}
@media (min-width: 420px) and (max-width: 1024px) {
  .hero-container {
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    max-width: 100%;
  }
  header {
    justify-content: center;
  }
  nav {
    display: flex;
    width: 95%;
    position: fixed;
    margin: auto;
  }
  .menu {
    display: none;
  }
  .slider {
    width: 580px;
    height: 350px;
  }
  .projects-img img {
    width: 580px;
    height: 350px;
  }
  .projects-description {
    text-align: center;
    color: #fff;
    font-size: 17px;
    margin: 10px;
  }
  .btn-container {
    margin: 20px;
  }
  #btn-back {
    color: #fff;
  }
  #btn-next {
    color: #fff;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-card {
    width: 390px;
    height: 520px;
    margin-top: 70px;
  }
  .profile-sinopse {
    margin: 0;
    width: 410px;
    margin-bottom: 15px;
  }
  .card-image {
    width: 213px;
  }
}
.btn-whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  padding: 10px;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
  background-color: #000;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
}
html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */